// The path for ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

$dark: #333333;
$light: #ffffff;
$stable: #d1d1d3;
$positive: #147ea7;
$assertive: #bc242d;
$energized: #0c8667;

// Colors
.bar-dark, .button-dark {
  background: $dark !important;
}
.bar-stable, .button-stable {
  background: $stable !important;
}
.bar-positive, .button-positive {
  background: $positive !important;
}
.bar-assertive, .button-assertive {
  background: $assertive !important;
}
.bar-energized, .button-energized {
  background: $energized !important;
}

.cf {
  clear: both;
}

.pull-right {
  float: right;
}

// Counter
#counter {
  h1 {
    color: $dark;
    font-size: 10em;
    text-align: center;
  }
  button {
    border: none;
    border-radius: 4px;
    color: $stable;
  }
  button#plus {
    font-size: 3em;
    color: $light;
  }
  #counter-width {
    max-width: 400px;
    margin: 0 auto;
  }
}

// Counter-Modal
.modal {
  background: url("/img/christ_woman.jpg") no-repeat center center;
  background-size: cover;
  @media (min-width: 600px) {
    background-size: contain;
}
  button {
    color: $light !important;
    font-size: 2em;
    position: relative;
    top: 5px;
    right: 5px;
  }
  .reset-message {
      text-align: center;
      max-width: 325px;
      margin: 1em auto;
      figure {
          img {
              width: 100%;
          }
          figcaption {
              font-style: italic;
              font-size: 1.1em;
          }
      }
  }
}


















// end
